<section class="mosaico">
  <div class="mosaico__titlebar">
    <header class="titlebar__title">Produtos</header>
    <select class="titlebar__select">
      <option value=""></option>
      <option *ngFor="let cat of categorias">{{cat.nome}}</option>
    </select>
  </div>
  <div class="mosaico__grid">
    <div *ngFor="let produto of produtos" class="mosaico__item" routerLink="/detalhe/{{produto.id}}">
      <img class="item__img" [src]='produto.img'>
      <p class="item__name">{{produto.nome}}</p>
      <p class="item__price">R$ {{produto.valor | number :'.2-2'}}</p>
    </div>
  </div>
</section>