.container {
    background-color: cornflowerblue;
    height: 100vh;
}
.form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}
.form__title {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    font: 600 20px Arial;
    color: white;
    margin-bottom: 20px;
}

.form__button {
    padding: 5px 10px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
    font: 500 18px Arial;
}